        #challenge {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-top: 7vh;
            margin-bottom: 8vh;
            .challenge__head {
                letter-spacing: 1px;
                font-weight: 400;
                margin-bottom: 3vh;
                color: #0970A3;
                align-self: center;
            }
            .challenge__message {
                width: 70vw;
                align-self: center;
                letter-spacing: 0.5px;
                font-weight: 400;
                line-height: 28px;
                margin-bottom: 10vh;
            }
            .challenge__image {
                height: 40vh;
                width: auto;
                object-fit: contain;
            }
        }
        
        .bigger {
            transition-duration: 0.5s;
            height: 52vh !important;
            width: auto;
        }
        
        @media screen and (min-width: 200px) and (max-width: 900px) {
            #challenge {
                margin-bottom: 0;
            }
            .challenge__head {
                margin-top: 3vh;
            }
            .challenge__message {
                width: 70vw;
                margin-bottom: 3vh;
                align-self: center;
                line-height: 20px;
            }
            .challenge-image {
                height: 30vh;
                width: auto;
                -o-object-fit: contain;
                object-fit: contain;
                padding-top: 3vh;
            }
        }
        
        @media screen and (min-width: 300px) and (max-width: 460px) {
            .challenge__message {
                margin-top: 2vh;
                line-height: 19px;
            }
        }