/* header and menu */

.on {
    transition-duration: 1s;
    transform: translateX(-100%);
}

.off {
    visibility: hidden !important;
}

.shrink {
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    height: 55px !important;
}

header {
    height: 65px;
    width: 100vw;
    display: flex;
    position: fixed;
    background-color: #0970A3;
    z-index: 3;
    justify-content: space-between;
    align-items: center;
}

.logo-header {
    height: 50px;
    width: auto;
    margin-left: 10px;
    border: 1px solid grey;
    .logo-shrink {
        transition-duration: 0.6s;
        height: 40px !important;
    }
}

.hamburger {
    font-size: 30px;
    display: none;
    right: 4vw;
    position: fixed;
    cursor: pointer;
    color: white;
}

.header-tablet {
    position: fixed;
    top: 0;
    right: -180px;
    width: 180px;
    height: 400px;
    overflow: hidden;
}

.header-tablet-menu {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 1000;
    background: white;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    letter-spacing: 1px;
    .header-tablet-menu-link {
        padding: 0 10px;
        width: 180px;
        height: 30px;
        list-style: none;
        margin-bottom: 2vh;
    }
    .header-tablet-menu-link:hover {
        background-color: aliceblue;
    }
    a {
        text-decoration: none;
        color: #0970A3;
        font-weight: 700;
        font: icon;
    }
    .header-tablet-menu__close {
        display: flex;
        justify-content: flex-end;
        height: 50px;
        margin-bottom: 2vh;
        border: 2px solid white;
        background-color: #0970A3;
        font-size: 20px;
    }
    .close-ham-menu {
        padding: 10px;
        color: white;
        cursor: pointer;
    }
}


/* end hamburger menu */


/* NAVBAR */

.navbar {
    display: flex;
    margin-right: 10px;
    a,
    h1 {
        color: #ffffff;
        font-weight: bold;
        padding: 0 7px;
        text-decoration: none;
        margin: 0 15px;
        width: auto;
        align-self: center;
        letter-spacing: 0.5px;
    }
}


/* end navbar */

@media screen and (min-width: 200px) and (max-width: 900px) {
    .navbar {
        visibility: hidden;
    }
    .hamburger {
        display: inline;
        margin-right: 1vw;
        float: right;
        align-self: center;
    }
}