    .headlines {
        white-space: nowrap;
        position: absolute;
        display: flex;
        left: 0%;
        padding-top: 7px;
    }
    
    .headlines h5 {
        padding-right: 40px;
    }
    
    .ticker {
        background-color: #0970A3;
        position: relative;
        overflow: hidden;
        height: 3em;
        border-bottom: 1px solid black;
        padding-top: 5px;
    }
    
    .news {
        margin-right: 13px;
        color: white;
    }