/* workers section */

#team {
    width: 80vw;
    margin-left: 10vw;
    padding-top: 5%;
    margin-bottom: 12vh;
}

#our_team_header {
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 48px;
    color: #0970A3;
    text-align: center;
    margin-bottom: 8vh;
}

.workers_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: 10vw;
}

.worker {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 500px;
    margin-bottom: 2vh;
    margin-right: 2vw;
    padding: 15px 5px;
    justify-content: space-between;
    border: 1px solid;
    a {
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: #33383b;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        margin-top: 10px;
        align-self: center;
        justify-self: flex-end;
    }
}

.worker:hover {
    -webkit-box-shadow: 0 4px 8px;
    box-shadow: 0 4px 8px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.worker a:hover {
    border: 1px solid;
}

.worker_img {
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 118px;
    object-fit: cover;
    align-self: center;
}

#worker_message {
    color: darkslategrey;
    font-size: 14px;
    width: 100%;
    text-align: center;
    padding: 0 5%;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 1vh;
}

.worker-daniel {
    justify-content: start;
}


/* workers section end */