@import "./_footer";
@import "./_header-navbar";
@import "./_challenge";
@import "./_workers";
@import "./_news";
@import "./_contact";
@import "./_solution";
@import "./_about";
@import "./_welcome";
@import "./_technology";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,\a  500,\a 300,\a 700");
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    font-family: "DIN";
}

@font-face {
    font-family: "DIN";
    src: url("../public/DINWeb.woff") format("woff");
}


/* added classes */

.tech {
    border: 3px solid white;
    transition-duration: 1s;
}

.active {
    transition-duration: 0.5;
    opacity: 1;
    transform: translateY("50");
}


/* end of added classes  */

html {
    font-size: 16px;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.9rem;
}

h4 {
    font-size: 0.7rem;
}

a {
    font-size: 0.9rem;
}

p {
    font-size: 1.3rem;
}

@media screen and (min-width: 200px) and (max-width: 900px) {
    html {
        font-size: 14px;
    }
}