#about {
    height: auto;
    width: 90vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 5vh 0 10vh 0;
    background: #F4FAFD;
}

.about__head {
    padding-top: 6vh;
    letter-spacing: 1px;
    font-weight: 400;
    color: #0970A3;
    margin-bottom: 3vh;
    font-size: 56px;
    text-align: center;
}

.about__message {
    padding: 0 5vw;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400;
}

@media screen and (min-width: 200px) and (max-width: 900px) {
    #about {
        height: auto !important;
        padding: 30px 0;
    }
    .about__message {
        width: 90vw;
        font-size: 18px;
    }
    .about__head {
        font-size: 30px;
        padding-top: 0;
    }
}