/* the challenge */

.challenge {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 7vh;
    margin-bottom: 8vh;
}

.challenge__head {
    letter-spacing: 1px;
    font-weight: 400;
    margin-top: 1%;
    font-size: 56px;
    color: #0970A3;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.challenge__message {
    width: 51vw;
    font-size: 21px;
    margin: 1% 0;
    color: darkslategrey;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    letter-spacing: 0.5px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 4vh;
}

.challenge__image {
    height: 40vh;
    width: auto;
    -o-object-fit: contain;
    object-fit: contain;
}

.bigger {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    height: 52vh !important;
    width: auto;
}


/* the challange end*/