/* header and menu */

.pipe_img {
    object-fit: cover;
    width: 100vw;
    height: 95vh;
    opacity: 0.95;
}

.language-menu {
    position: absolute;
    left: 10px;
    margin-top: 90px;
    z-index: 1;
    outline: none;
    opacity: 0.6;
}

.welcome {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20vh;
    right: 3%;
    padding: 1%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

@media screen and (min-width: 200px) and (max-width: 900px) {
    .welcome {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 20vh;
        right: 3vw;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 6px;
    }
    .pipe_img {
        width: 100vw;
        margin-top: 4%;
        -o-object-fit: cover;
        object-fit: cover;
    }
    .welcome_message {
        width: 440px;
        margin-top: 50vh;
        h1 {
            font-size: 3rem;
        }
        h2 {
            font-size: 1.2rem;
            margin-left: 5vw;
        }
    }
}

@media screen and (min-width: 300px) and (max-width: 820px) {
    .pipe_img {
        height: 400px;
    }
}