@import "./_footer-he";
@import "./_header-navbar-he";
@import "./_challenge-he";
@import "./_workers-he";
@import "./_news-he";
@import "./_contact-he";
@import "./_solution-he";
@import "./_about-he";
@import "./_welcome-he";
@import "./_technology-he";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,\a  500,\a 300,\a 700");
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    font-family: "DIN";
}

@font-face {
    font-family: "DIN";
    src: url("../public/DINWeb.woff") format("woff");
}


/* added classes */

.tech {
    border: 3px solid white;
    transition-duration: 1s;
}

.active {
    transition-duration: 0.5;
    opacity: 1;
    transform: translateY("50");
}


/* end of added classes  */